# To run this pipeline:
# biolockj rhizosphere.properties

#BioModule biolockj.module.getData.sra.SraDownload
#BioModule biolockj.module.classifier.r16s.RdpClassifier
#BioModule biolockj.module.report.taxa.NormalizeTaxaTables
#BioModule biolockj.module.report.r.R_PlotMds
#BioModule biolockj.module.report.r.R_CalculateStats
#BioModule biolockj.module.report.r.R_PlotPvalHistograms
#BioModule biolockj.module.report.r.R_PlotOtus
#BioModule biolockj.module.diy.Rmarkdown
#BioModule biolockj.module.diy.GenMod

metadata.filePath=./resources/rhizosphere_metadata.txt
# metadata.fileNameColumn = forward_reads_file, reverse_reads_file
metadata.fileNameColumn = forward_reads_file
metadata.required=N

sra.accessionIdColumn=RUN_ID
sra.destinationDir=./data/seq

input.dirPaths=./data/seq
input.ignoreFiles=README

report.logBase=10
r.reportFields=Cultivar, Soil Type

rmarkdown.rmarkdown=./resources/Example.Rmd
rmarkdown.resources=${BLJ}/resources/img/system_diagram.png

genMod.scriptPath=./resources/filesForJoe.sh

pipeline.defaultProps=${BLJ}/templates/local.properties
# rdp.jar
# exe.fasterq-dump

pipeline.logLevel=DEBUG
