# To run this pipeline:
# biolockj rhizosphere_mergeReads.properties

#BioModule biolockj.module.getData.sra.SraDownload
#BioModule biolockj.module.seq.PearMergeReads
#BioModule biolockj.module.classifier.r16s.RdpClassifier
#BioModule biolockj.module.report.taxa.NormalizeTaxaTables
#BioModule biolockj.module.report.r.R_PlotMds
#BioModule biolockj.module.report.r.R_CalculateStats
#BioModule biolockj.module.report.r.R_PlotPvalHistograms
#BioModule biolockj.module.report.r.R_PlotOtus
#BioModule biolockj.module.diy.Rmarkdown
#BioModule biolockj.module.diy.GenMod

metadata.fileNameColumn = forward_reads_file, reverse_reads_file
pipeline.defaultProps=./rhizosphere.properties
