# To run this pipeline:
# biolockj rhizosphere_fromCounts.properties

#BioModule biolockj.module.report.taxa.NormalizeTaxaTables
#BioModule biolockj.module.report.r.R_PlotMds
#BioModule biolockj.module.report.r.R_CalculateStats
#BioModule biolockj.module.report.r.R_PlotPvalHistograms
#BioModule biolockj.module.report.r.R_PlotOtus
#BioModule biolockj.module.diy.Rmarkdown
#BioModule biolockj.module.diy.GenMod

metadata.filePath=./resources/rhizosphere_metadata.txt
metadata.required=N

input.dirPaths=./data/counts/rdp_forwardReads

report.logBase=10
r.reportFields=Cultivar, Soil Type
report.taxonomyLevels=phylum,class

rmarkdown.rmarkdown=./resources/Example.Rmd
rmarkdown.resources=./resources/sheep17.jpg

genMod.scriptPath=./resources/filesForJoe.sh

# pipeline.defaultProps=${BLJ}/templates/local.properties
