#BioModule biolockj.module.diy.GenMod AS Download
###BioModule biolockj.module.biobakery.metaphlan.MetaPhlAn_DB
#BioModule biolockj.module.biobakery.metaphlan.MetaPhlAn2

DATA=${BLJ}/templates/metaphlan/tutorial_input/fasta

input.dirPaths=${DATA}
pipeline.inputTypes=fasta

Download.scriptPath=./tutorial_input/download_input.sh
Download.param=${DATA}

metaphlan.dbIndex=mpa_v30_CHOCOPhlAn_201901
metaphlan.params=--input_type fasta
