# To run this pipeline:
#        biolockj GenModDemo.config
# Or
#        biolockj --docker GenModDemo.config

# This demo has no input
pipeline.inputTypes=none

#BioModule biolockj.module.diy.GenMod AS Hello_World
Hello_World.scriptPath=./script/hello-world.sh

#BioModule biolockj.module.diy.GenMod AS Hello_R
Hello_R.launcher = Rscript
Hello_R.scriptPath =./script/hello-world.R

#BioModule biolockj.module.diy.GenMod AS Hello_Python
Hello_Python.scriptPath =./script/pythonScript.py
# the script specifies python in the shebang line, so we do need to specify genMod.launcher
#Hello_Python.launcher = python

#BioModule biolockj.module.diy.GenMod AS Use_Param
Use_Param.scriptPath = ./script/pythonScript.py
Use_Param.param =  one two three four five
# the entire value of param property is passed to the script as an argument(s)

#BioModule biolockj.module.diy.GenMod AS Use_Resource
Use_Resource.scriptPath = ./script/useResources.sh
Use_Resource.resources = ./script/functions.sh, ./script/functions2.sh
# Each file listed in the resources property is copied to the module 'resources' dir
# This can be a reference, a library, a template, ... whatever resources the script needs.

pipeline.defaultProps=./dockerImages.properties
